
#page_main_navbar.navbar{
	background-image: linear-gradient(#007fff, #198AFF, #007fff);
	margin-bottom: 0.5em;
}


#page_main_navbar.navbar .navbar-nav li a {
	color: white;
}

#page_main_navbar.navbar .navbar-nav li a:hover{
	display:block;
	background-color: #3f9fff;
	border-radius: 0.5em;	
}

#page_main_navbar.navbar .navbar-nav .dropdown .dropdown-menu a{
	color:black;
	font-weight: normal;
}
/*
#page_main_navbar.navbar-toggler-icon {
	background-image: url('../img/burger2.png');
}*/


#userIdIcon{
	height: 1em;
	margin-bottom: 0.3em;
}	

.list-group .fullListGroup{
	margin: 0px;
	padding: 0px;
}

#main-page-list .list-group-item{
	background-color: #198AFF;
	color: white;
}

#main-page-list .list-group-item:hover{
	background-color: #ffc600;
	text-decoration: none;
	color: white;
	font-weight: bold;
}

#main-page-list a{
	text-decoration: none;
	color: white;
}


#main-page-list a:hover{
	text-decoration: bold;
}

#welcomeMessageJumbo.jumbotron{
	padding-top: 0.5em;
	padding-bottom: 0.5em;
	margin-top: 0em;
	margin-bottom: 0em;
}

.card{
	margin-top: 1em;
	margin-bottom: 0.5em;
}

.page-footer{
	background-color: #c1c1c1;
}

body {
	background: #f2f2f2 !important;
}


.DisplayContainer{
	background-color: white !important;
	padding-left: 0px;
	padding-right: 0px; 
	margin-top:0.5em;
	margin-bottom: 0.5em;
	border-radius: 10px;
}

#main-page-options-holder.card{
	padding-top: 0;
	margin-top: 0;
}

#main-page-options-holder ul li a{
	display:block;
}

.card-form{
	background-color: #ffc600;
	border-radius: 10px;
	padding-left: 0px;
}

.card-form .card-body{
	border: 3px solid #ffc600;
	border-left: 0px;
	border-right: 0px;
	border-radius: 10px;
	background-color: white;
	margin-left: 0px;
	margin-right: 0px;
}

.card-form .card-header{
	background-color: #ffc600;
	border: 0px !important;
	border-radius: 10px;
	color: #330000;
}

.card-form .card-footer{
	border: 0px;
}

#userAcc_navbar_holder{
	border: 2px solid white;
	border-radius: 3px;
	padding: 0.3em;
	padding-left: 1em;
	padding-right: 1em;
}

#userAcc_navbar_holder:hover{
	border: 2px solid white;
	border-radius: 3px;
	padding-left: 1em;
	padding-right: 1em;
	background-color: #ffc600;
	color: black;
}

#user_account_functions{
padding: 0px !important;
}


#song_details_ribbon.row{
	background: #ffc600;
	margin-left: 0px;
	margin-right: 0px;
}

#song_title_ribbon{
	padding: 0.5em 1em 0.5em 1em;
}

#song_lyrics_ribbon{
	padding: 1em;
}

#artistList ul{
	background-color: #198AFF;
	cursor: pointer;
	color: #ffe419;

}

#artistList li{

	padding: 12px;
} 

.upload_song_container{
	background-color: white;
	padding: 2em;
	border-radius: 2em;
	font-family: 'arial';
	margin-bottom: 2em;
}

.upload_song_container_header{
	padding-bottom: 1em;
}

.upload_song_container .form-group{
	padding-bottom: 0.5em;
}

.upload_song_container .form-group select{
	background-color: white;
	color: black;
}


.sectionHeaderH1{
	font-size: 1.5em;
	font-weight: lighter;
	margin: 0;
}

.lyricsSectionHeader{
	font-size: 1.5em;
	font-weight: lighter;
	margin: 0;
}


.containerHeader{
	padding: 1em;
	padding-top: 0;
	padding-bottom: 0; 
}

.containerBody{
	padding:1em;
}

#song_lyrics_bottom_ribbon{
	padding: 1em;
	background-color: #ffc600;
}

#song_lyrics_bottom_ribbon p{
	margin-bottom: 0em;
}

.contentBox1{
	background-color: white;
	border-radius: 0.5em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
	padding: 0px;
}

.contentBox1 ul{
	padding: 0px;
}


.contentBox1_header{
	background-color: #ffc600;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
	padding: 0.5em;
}


.contentBox1_body{
	padding: 0.5em;
}

#alphaSearch.navbar{
	margin-top:0px;
	border-radius: 0.5em;
	background-color: #198AFF;
	margin-bottom: 0.5em;
	justify-content: center;
}

.linklist li{
	display: block;
	list-style-type: none;
	float: left;
	width: auto;
	margin-right: 15px;
}

ul.linklist{
	margin-bottom: 0px;
	padding-left: 0px;
}

.linklist li a{
	color: white;
	text-decoration: none;
}

.linklist li a:hover{
	font-weight:bold;
}

#soundCloudBox{
	padding-bottom: 0.5em;
}

.contentBox1_body ol li a{
	color: black;
	display: block;
}

#artistRegisterLink a{
	text-decoration: none;
	font-size: 0.9em;
	color: red;
}